.lazyMintFont {
    font-family: 'SF Pro Rounded', 'SF Pro Rounded Semibold', 'SF Pro Rounded Bold';
    src: url('../fonts/SF-Pro-Rounded-Semibold.ttf');
    font-weight: bold;
    color: black;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    font-family: "SF Pro Rounded", "system-ui";
    justify-content: center;
    align-items: center;
    padding: 0px;
    border: 1px solid #CACACA;
    border-radius: 16px;
    width: 375px;
    height: 460px;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #CACACA;

}